<h2>Here is a sample</h2>

<p>
<%= @message.title %>
</p>
<p>
<%= @message.location %>
</p>
<p>
<%= @message.start_time %>
</p>
<p>
<%= @message.end_time %>
</p>
<p>
<%= @message.skill %>
</p>
<p>
<%= @message.description %>
</p>
<p>
<%= @message.budget %>
</p>
