<!DOCTYPE html>
<html>
<head>
  <title>Don</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="navbar">
		<div class="navmenu">
			<% if current_user %>
				<%= link_to 'Home', root_path %> |
				<%= link_to 'Create', new_post_path %> |
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Sign in', new_user_session_path %> |
				<%= link_to 'Sign up', new_user_registration_path %>
			<% end %>
		</div>
	</div>
</header>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
